* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Elephant";
  src: url("assets/elephant.ttf");
}

@font-face {
  font-family: "Euphorigenic";
  src: url("assets/euphorigenic.ttf");
}

@font-face {
  font-family: "Odibee";
  src: url("assets/odibee.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("assets/roboto.ttf");
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #180027;
  padding: 30px;
}

input {
  padding: 5px;
  border: 1px solid #180027;
  border-radius: 3px;
}

#divall {
  margin: auto;
  max-width: 1000px;
}

#topbar {
  display: flex;
}

#topico {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#topico .logo {
  font-family: "Elephant", serif;
  font-size: 45px;
  display: flex;
}

#topico ul {
  font-family: "Euphorigenic", serif;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letterU {
  color: #005c00ff;
}

.letterR {
  color: #00005cff;
}

.letterV {
  color: #5c0000ff;
}

.letterS {
  color: #5c005cff;
}

.letterUdark {
  color: #002e00ff;
}

.letterRdark {
  color: #00002eff;
}

.letterVdark {
  color: #2e0000ff;
}

.letterSdark {
  color: #2e002eff;
}
