* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Elephant";
  src: url("assets/elephant.ttf");
}

@font-face {
  font-family: "Euphorigenic";
  src: url("assets/euphorigenic.ttf");
}

@font-face {
  font-family: "Odibee";
  src: url("assets/odibee.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("assets/lato.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("assets/roboto.ttf");
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #180027;
  padding: 30px;
}

input {
  font-family: "Roboto", sans-serif;
  padding: 5px;
  border: 1px solid #180027;
  border-radius: 3px;
}

a {
  color: #2100a9;
}

#divMain {
  margin: auto;
  max-width: 900px;
}
